.App {
    position: relative;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/main.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    padding: 1rem;
    position: relative;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-center .nav-links li {
    margin-right: 1rem;
}

.navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
}

.navbar-right .cart-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}

.content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 20px;
}